<div class="container">
    <div class="my-3 float-right"><span class="material-icons" routerLink="/usuarios/create">add_circle</span></div>

    <div *ngIf="loading else ListUsers">Loading...</div>

    <ng-template #ListUsers>
        <table class="table table-bordered table-hover table-striped">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let user of users">
                    <td> {{ user.id }} </td>
                    <td> {{ user.name }} </td>
                    <td> {{ user.email }} </td>
                    <td>
                        <span class="material-icons" (click)="view(user.id)">visibility</span>
                        <span class="material-icons" (click)="edit(user.id)">edit</span>
                        <span class="material-icons" (click)="delete(user.id)">delete</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-template>


</div>