<div class="container">
    
    <div class="my-3 float-right"><a class="btn btn-primary" routerLink="/usuarios/create">CREATE</a></div>

    <div *ngIf="loading else ListUsers">Loading...</div>



    <ng-template #ListUsers>
        <table class="table table-bordered table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let user of users">
                    <td> {{ user.id }} </td>
                    <td> {{ user.name }} </td>
                    <td> {{ user.email }} </td>
                    <td>
                        <button class="btn btn-primary mr-2" (click)="view(user.id)">Visualizar</button>
                        <button class="btn btn-dark mr-2" (click)="edit(user.id)">Editar</button>
                        <button class="btn btn-danger" (click)="delete(user.id)" href="#"> Deletar </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-template>


</div>