<div class="container" *ngIf="!isLoading else loadingIcon">
    <div class="row">
        <div class="col-md-6 img">
            <img src="https://cdn.onlinewebfonts.com/svg/img_184513.png"
                alt="" class="img-rounded" width="200px">
        </div>
        <div class="col-md-6 details">
            <blockquote>
                <h5>{{usuario.name}}</h5>
                <small><cite title="Source Title">Paraíba, Brazil <i
                            class="icon-map-marker"></i></cite></small>
            </blockquote>
            <p>
                {{usuario.email}} <br>
            </p>
        </div>
    </div>

</div>

<ng-template #loadingIcon></ng-template>